:root {
  font-size: 62.5%;

  --gray-500: #98A2B3;
  --gray-500: #667085;
  --gray-900: #101828;
  --color-red: #8E2424;
  --color-red-smooth: #8e242440;
  --color-white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  color: var(--gray-500);
}

a {
  text-decoration: none;
  color: inherit;
}

.button-link {
  border-radius: 0.8rem;
  padding: 1rem 1.8rem;
}

.register-button {
  color: var(--color-white);
  background-color: var(--color-red);
  border: 0.1rem solid var(--color-red);
  box-shadow: 0 0.1rem 0.2rem rgba(16, 24, 40, 0.05);
}

.register-button:hover {
  filter: opacity(0.85);
}


/* HEADER */
.header__wrapper {
  width: 100%;
  max-width: 128rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.2rem;
  margin: 1.8rem auto;
}

.header__links ul {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.header__links a,
.button-link {
  transition: 0.25s ease;
}

.header__links a:hover {
  color: var(--gray-900);
  text-decoration: underline;
  text-shadow: 0 0 5px var(--color-red-smooth);
}

.login-buttons {
  display: flex;
  gap: 1.2rem;
}

.login-buttons .button-link:first-child:hover {
  color: var(--gray-900);
  background-color: #f0f0f0;
}