:root {
  font-size: 62.5%;

  --color-white: #f5f5f5;
  --color-black: #121214;
  --color-gray: #333334;
  --color-lightgray: #404040;
  --color-morelightgray: #494949;
  --color-lightred: #F47A7A;
  --color-button-input-hover: #e4e4e4;

  --border-radius-wrappers: 0.8rem;
  --border-radius-normal: 0.4rem;

  --padding-wrapper: 4rem;
  --padding-wrapper-responsive: 1.75rem;

  --wrapper-max-width: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-black);
  color: var(--color-white);
}