:root {
  --footer-height: 6rem;
}

body {
  padding-top: 2rem;
}

main {
  margin: 5rem 0 calc(var(--footer-height) + 5rem);
}

.projects-wrapper {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

/* CARD */
.project {
  background-color: var(--color-gray);
  width: 40%;
  min-width: 31.5rem;
  height: 100%;
  border-radius: var(--border-radius-wrappers);
  padding: 2rem 3rem;
  text-align: center;
}

.project.coming {
  text-align: center;
}

.project h2 {
  text-align: center;
}

.project p {
  text-align: center;
  margin: 2rem 0;
}

.project p span {
  position: relative;
}

.project p span::after {
  content: "";
  width: 100%;
  height: .15rem;
  border-radius: 1rem;
  position: absolute;
  bottom: -0.2rem;
  left: 0;
}

.project ul li {
  list-style: none;
  font-weight: 300;
  margin-top: .6rem;
}

.project ul li span {
  font-weight: 500;
  text-decoration: underline;
}

.project li a,
.one-link a {
  color: var(--color-white);
  text-decoration: none;
  transition: text-shadow 0.2s ease-in-out;
}

.project li a:hover,
.one-link a:hover,
.social:hover {
  text-shadow: 0 0 .5rem #bbb;
}

/* Cards with a link and svg arrow */
.one-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

.one-link a span {
  text-decoration: underline;
}

/* Logic with JS */
#LogicWithJS {
  text-align: start;
}

/* Span colors */
.js-span::after {
  background-color: hsl(52, 93%, 54%);
  box-shadow: 0 0px 0.75rem 0.05rem hsl(52, 93%, 54%);
}

.html-span::after {
  background-color: hsl(13, 93%, 54%);
  box-shadow: 0 0px 0.75rem 0.05rem hsl(13, 93%, 54%);
}

.css-span::after {
  background-color: hsl(260, 93%, 54%);
  box-shadow: 0 0px 0.75rem 0.05rem hsl(260, 93%, 54%);
}


/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  background-color: var(--color-gray);
}

footer,
footer .wrapper {
  display: flex;
  align-items: center;
}

footer .wrapper {
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

.one-link i,
footer h3,
.social i {
  font-size: 2rem;
  line-height: 1;
  color: var(--color-white);
}

.social {
  margin: 0 .5rem;
  text-decoration: none;
  transition: text-shadow 0.2s ease-in-out;
}