/* 900px até 616px */
@media (max-width: 56.25rem) and (min-width: 38.5rem) {
  .movie {
    display: grid;
    grid-template-columns: minmax(22rem, 1fr) 2fr;
    justify-items: center;
    gap: 1rem 2rem;
  }

  .movie_image {
    grid-row: 1/ 3;
  }

  .movie_image img {
    width: 22rem;
    height: 32rem;
  }

  .movie_infos {
    justify-self: flex-start;
  }
}

/* 616px */
@media (max-width: 38.5rem) {
  .movie {
    flex-direction: column;
    gap: 2rem;
  }

  .movie_infos {
    text-align: center;
    justify-items: center;
    gap: 1rem 1.8rem;
  }
}

/* 424px */
@media (max-width: 26.5rem) {
  .movie {
    padding: 2.5rem;
  }
}

/* 376px */
@media (max-width: 23.5rem) {
  .movie_infos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}