:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: #4f4f4f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
  color: #f4f4f4;
}

h1 {
  font-size: 2.75rem;
  text-align: center;
  max-width: 65%;
}

.inputWrapper {
  background-color: #6d6d6d;
  display: flex;
  flex-direction: column;

  padding: 3rem;
  margin-top: 2.5rem;
  border-radius: .8rem;
}

.inputWrapper label {
  margin: .8rem 0 .4rem .4rem;
}

.inputWrapper button,
.inputWrapper input {
  background-color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  transition: background-color .3s ease-in-out;
}

.inputWrapper input {
  border: none;
  border-radius: .4rem;
  padding: 0.75rem;
}

.inputWrapper button {
  margin: 1rem auto;
  padding: 1rem 2rem;
  border: none;
  border-radius: .4rem;
  cursor: pointer;
}

.inputWrapper button:hover,
.inputWrapper input:hover {
  background-color: #e4e4e4;
}

.inputWrapper .challengeExtra {
  display: none;
}

.challengeExtra {
  flex-direction: column;
}

.challengeExtra p {
  margin-top: .4rem;
}


@media (max-width: 500px) {
  h1 {
    max-width: 95%;
  }

  .inputWrapper {
    max-width: 80%;
    padding: 2rem;
  } 
}