/* Global */
.hide {
  display: none !important;
}

.wrapper {
  width: var(--wrapper-max-width);

  margin: 5rem auto;
  padding: var(--padding-wrapper);
  background-color: var(--color-gray);
  border-radius: var(--border-radius-wrappers);

  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-lightgray);
  border-radius: var(--border-radius-normal);
}


/* Parte de cima */
.inputWrapper input,
.inputWrapper select {
  padding: 0.75rem;
  margin: .25rem auto .75rem;
  width: 65%;
}

.inputWrapper input {
  background-color: var(--color-white);
}

.inputWrapper select {
  cursor: pointer;
}

.inputWrapper button {
  margin: 1rem auto 0;
  padding: 1rem 2rem;
}


/* Para cima e para baixo */
.inputWrapper input,
.inputWrapper select,
.section button {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  border: none;
  border-radius: var(--border-radius-normal);
  transition: background-color .3s ease-in-out;
}

.inputWrapper input:hover,
.inputWrapper select:hover,
.section button:hover {
  background-color: var(--color-button-input-hover);
}


/* Parte do meio */
.messageAlert {
  text-align: center;
}


/* Parte de baixo */
.shoppingListResult {
  row-gap: 1rem;
}

ol {
  font-weight: bold;
  background-color: var(--color-morelightgray);
  border-radius: var(--border-radius-normal);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

li {
  font-weight: normal;
  margin-left: 2.5rem;
  word-break: break-word;
  text-align: justify;
}

li button {
  margin-left: .5rem;
  width: 1.7rem;
  height: 1.7rem;
  background-color: var(--color-lightred);
  cursor: pointer;
}


/* RESPONSIVE */
/* 544px */
@media (max-width: 34rem) {
  .wrapper {
    width: 80%;
    padding: var(--padding-wrapper-responsive);
  }
}