.wrapper {
  max-width: 80%;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.section {
  background-color: var(--color-gray);
  border-radius: var(--border-radius-wrappers);
  width: 60%;
  padding: 1rem;
  text-align: justify;
}

.section .codes pre {
  margin-top: .5rem;
  display: flex;
}

.section .codes code {
  background-color: #282a36;
  border-radius: var(--border-radius-normal);
  padding: 0.65rem 1.5rem;
  width: 50%;
  min-width: 27.5rem;
  font-size: 1.4rem;
}

#expression {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
}

#expression pre {
  background-color: #282a36;
  border-radius: var(--border-radius-normal);
  height: 11.5rem;
  width: 50%;
  min-width: 27.5rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

#expression code {
  font-size: 1.4rem;
}

code span.magenta {
  color: #FF79C6;
}

code span.purple {
  color: #BD93F9;
}

code span.brightYellow {
  color: #FFFFA5;
}

code span.brightMagenta {
  color: #FF92DF;
}

/* RESPONSIVE */
/* Um pouco antes de quebrar a div que tem a expressão, com fonte 16px ela quebra
 em 1024px, aqui tá setado para 1050px. Isto funciona para todos os tamanhos de
 fonte definida pelo navegador
 */
/* 1050px */
@media (max-width: 65.625rem) {
  #expression {
    justify-content: center;
  }

  #expression pre,
  .section .codes code {
    width: 75%;
  }
}

/* 768px */
@media (max-width:48rem) {
  .section {
    width: 90%;
  }
}

/* 400px */
@media (max-width:25rem) {
  .wrapper {
    max-width: 100%;
  }

  #expression pre,
  .section .codes code {
    width: 100%;
  }
}

/* 330px */
@media (max-width:20.625rem) {
  code {
    font-size: 1.2rem !important;
  }

  #expression pre,
  .section .codes code {
    min-width: 20.5rem;
  }
}