.hide {
  display: none !important;
}

.wrapper {
  width: 60%;
  margin: 5rem auto;
  padding: 4rem;
  background-color: var(--color-gray);
  border-radius: var(--border-radius-wrappers);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.wrapper h1 {
  font-size: 2.75rem;
  text-align: center;
}

.section {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-lightgray);
  border-radius: var(--border-radius-normal);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputNumbers input,
.operationsButtons button {
  background-color: var(--color-white);
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  border: none;
  border-radius: var(--border-radius-normal);
  transition: background-color .3s ease-in-out;
}

.inputNumbers input {
  padding: 0.75rem;
  margin: .25rem auto .75rem;
  width: 65%;
}

.inputNumbers input:hover,
.operationsButtons button:hover {
  background-color: var(--color-button-input-hover);
}

.operationsButtons button {
  padding: 1rem 2rem;
  cursor: pointer;
  width: 13rem;
}

/* Parte do meio */
.operationsButtons {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

/* Parte de baixo */
.result {
  text-align: center;
}

.result span {
  background-color: #494949;
  padding: 0 .5rem;
  border-radius: var(--border-radius-normal);
}

/* RESPONSIVE */
/* 1050px */
@media (max-width: 65.625rem) {
  .wrapper {
    width: 80%;
    padding: var(--padding-wrapper-responsive);
  }
}

/* 870.4px */
@media (max-width: 54.4rem) {
  .operationsButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
  }

  .operationsButtons button {
    width: 80%;
  }
}

/* 490px */
@media (max-width: 30.625rem) {
  .operationsButtons {
    grid-template-columns: 1fr;
  }

  .operationsButtons button {
    width: 65%;
  }
}